###################################################################################
################## Intel FPGA Monitor Program Configuration File ##################
###################################################################################
#
# Formats:
#      flag=option          (seperated by equals sign)
#      flag       option    (seperated by white space)
#
# In either case above, the 'flag' (listed below) cannot contain spaces,
# while the option can.
#
# For booleans, the option words '0', 'no' and 'false' (case insensitive) are all
# considered 'false', anything else (including blank) is considered true
#
# Flags:
#
#   project_name            : The default name of a new project.
#   project_path            : The default path to the project directory.
#   architecture            : The default architecture for the project (Nios II, ARM Cortex-A9)
#   system                  : The default system to be used (eg. DE1-SoC Computer).
#   c_compiler_flags        : The default compiler flags for a C program.
#   c_linker_flags          : The default linker flags for a C program.
#   use_small_c_lib         : Boolean to use the small C library (Nios II).
#   emulate_instr           : Boolean to emulate unimplemented instructions.
#	include_system_info_file: Boolean whether to include the system info header by default.
#	answer_for_reload_file	: 'yes' or 'no' option to bypass the file reload dialog when files are edited outside the program. If undefined, the dialog will be shown.
#
#
# To define the location of this file to the Monitor Program,
# add the command line argument:
#         --config-file=<Path to file>
#
# By default, the Monitor Program will look for a config file named "amp.config"
# in its working directory.
###################################################################################

## Monitor Program defaults start here ##

use_small_c_lib               no
emulate_instr                 yes
